.header
  .header__name
    %h1.header__name-portfolio PORTFOLIO
    %p.header__name-masakimurakami - Masaki Murakami -
  .header__tab
    = link_to "ABOUT", "#", class: "tab-brack"
    = link_to "WORKS", "#", class: "tab-white"
    = link_to "PROFILE", "#", class: "tab-brack"
    = link_to "STORY", "#", class: "tab-white"
.tv
  .tv__space-1
    = image_tag("/assets/tv-portfolio-image-1.jpeg", class: "tv-portfolio-image-1 show")
    = image_tag("/assets/tv-portfolio-image-2.jpeg", class: "tv-portfolio-image-2")
    = image_tag("/assets/tv-portfolio-image-3.jpeg", class: "tv-portfolio-image-3")
  .tv__space-2
    = image_tag("/assets/tv-portfolio-image-2.jpeg", class: "tv-image-2 show")
  .tv__space-3
    = image_tag("/assets/tv-portfolio-image-3.jpeg", class: "tv-image-3 show")
  .tv__tab
    .tv__tab-portforio-1.active
    .tv__tab-portforio-2
    .tv__tab-portforio-3
    .tv__tab-masaki-1
    .tv__tab-masaki-2
    .tv__tab-masaki-3
    .tv__tab-murakami-1
    .tv__tab-murakami-2
    .tv__tab-murakami-3
.works-1
.works-2
.works-3
